body {
  font-family: Arial, sans-serif;
  padding: 2rem;
  background-color: #fce7dd; /* melocotón claro */
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  max-width: 1400px;
  margin: auto;
}

.course {
  background-color: #ffffff; /* por defecto blanco, se alternarán con JS opcionalmente */
  border: 2px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.course:nth-child(5n+1) {
  background-color: #f3dcdc; /* rosa pastel */
}

.course:nth-child(5n+2) {
  background-color: #fce7dd; /* melocotón */
}

.course:nth-child(5n+3) {
  background-color: #faf7d1; /* vainilla */
}

.course:nth-child(5n+4) {
  background-color: #daf4a2; /* verde pastel */
}

.course:nth-child(5n+5) {
  background-color: #d6f8f3; /* celeste pastel */
}

.course:hover {
  transform:
